<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
</head>

<%- include('../includes/navigation.ejs') %>
        <% if(errorMessage.length) {%>
            <div class="user-message user-message__error">
                <h4><%= errorMessage %></h4>
            </div>
        <% } %>
        <% if(successMessage.length) {%>
            <div class="user-message user-message__success">
                <h4><%= successMessage %></h4>
            </div>
        <% } %>
        <% if (prods.length) { %>
            <div class="list-header">
                <h1>Products</h1>
            </div>            
            <div class="grid">
                <%- include('../includes/productCard.ejs') %>
            </div>
            <%- include('../includes/pagination.ejs', {
                pagination: pagination,
                currPage: currPage,
                hasNextPage: hasNextPage,
                hasPrevPage: hasPrevPage,
                nextPage: nextPage,
                prevPage: prevPage,
                lastPage: lastPage
            }) %>
        <% } else { %>        
            <div class="list-header">
                <h1>No Products left</h1>
            </div>
        <% } %>
<%- include('../includes/end.ejs') %>